biblioteca {
  counter-reset: contador;
}

titulo:before {
  content: counter(contador, upper-alpha) ". ";
  counter-increment: contador;
}

titulo, autor, fechaPublicacion {
  display: block;
  margin-left: 25px;
}

autor, fechaPublicacion {
  margin-left: 45px;
}
