biblioteca {
  counter-reset: contador;
}

libro:before {
  content: counter(contador, upper-alpha) ". ";
  counter-increment: contador;
}

titulo {
  display: inline;
  margin-left: 5px;
}

autor, fechaPublicacion {
  display: block;
  margin-left: 25px;
}
