@charset "utf-8";

/* XML: LENGUAJE DE MARCAS EXTENSIBLE       */
/* Bartolome Sintes Marco                   */
/* http://www.mclibre.org                   */
/*                                          */
/* CSS curso: XML							*/
/*                                          */
/* 27 de abril de 2017                      */
/*                                          */

/* CSS común */

@font-face {
  font-family: "Inconsolata";
  src: url("fonts/inconsolata.woff2");
}

html {
  background-color: white;
  font-family: sans-serif;
  text-align: justify;
}

section {
  clear: both;
  border-top: solid 2px black;
  margin-top: 1em;
  padding-top: 0;
}

section section {
  border-top: solid 1px black;
}

footer {
  margin-top: 2em;
}

h1 {
  margin-left: 75px;
  font-size: 200%;
  text-align: center;
}

h2 {
  font-size: 120%;
}

h3 {
  font-size: 110%;
}

h4 {
  font-size: 105%;
  font-weight: bold;
}

h2, h3, h4 {
  clear: both;
}

.captura img {
  border: black 2px dotted;
  padding: 5px;
}

.captura {
  text-align: center;
}

.clear {
  clear: both;
}

.derecha {
  text-align: right;
}

.incompleto {
  background-color: #FFFFFF;
  color: red;
}

.resaltado {
  border: red 2px solid;
  padding: 1px;
  font-weight: bold;
}

p {
  margin:5px 0;
}

p.aviso {
  border-left: 2px red solid;
  margin: 10px;
  padding: 10px;
  color:red;
}

p.centrado {
  text-align: center;
}

p.derecha {
  text-align: right;
}

p.ultmod {
  clear: both;
  border-top: black 1px solid;
  margin-top: 10px;
  padding-top: 2px;
  text-align: left;
}

p.licencia {
  text-align: left;
}

hr {
  clear: both;
  width: 100%;
}

hr.corta {
  clear: both;
  width: 50%;
  text-align: center;
}

img#vpp {
  position: absolute;
  top: 5px;
  left: 5px;
  border:none;
}

img.d {
  float: right;
  margin-left: 10px;
  margin-bottom: 5px;
}

img.i {
  float: left;
  margin-right: 10px;
}

img.vmedio {
  vertical-align: middle;
}

div.codigo {
  border: #7D7D7D 2px solid;
  margin: 5px 20px;
  padding: 0 10px;
}

div.ejercicio {
  border: #7D7D7D 2px solid;
  margin: 5px 20px;
  padding: 0 10px;
}

pre {
  white-space: pre-wrap;
}

table.indice h2 {
  margin: 0;
}

td {
  vertical-align: top;
}

table.conborde, table.conborde td, table.conborde th {
  border: black 1px solid;
}

table.sinborde td, td.sinborde {
  border: none;
}

table.centrado {
  margin-left: auto;
  margin-right: auto;
}

td.centrado, th.centrado, tbody.centrado {
  text-align: center;
}

tr.negativo {
  background-color: #eee;
}

table.franjas thead tr, table.franjas tbody tr:nth-child(even) {
  background-color: #eee;
  color: black;
}

table.ejemplo {
  table-layout: auto;
  width: 100%;
  text-align: left;
  border-spacing: 5px;
}

table.ejemplo col.icono {
  width: 40px;
  vertical-align: top;
}

td.codigo {
  border: #7D7D7D 2px solid;
  padding: 0 5px;
}

td.resul {
  border: #7D7D7D 2px solid;
  padding: 4px;
  font-family: serif;
  text-align: left;
}

ul {
  margin-top: 0;
}

li {
  clear: both;
}

object.ejercicio {
  width: 90%;
  height: 400px;
}

object.ejemplo {
  width: 90%;
  height: 200px;
}

.soft-menu {
  background-color: #D4D0C8;
  font-family: serif;
}

/* Pantallas pequeñas */
@media screen and (max-width: 768px) {
  html {
    margin-left: 2em;
    margin-right: 2em;
  }

  h1#indice {
    margin-left: 140px;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2 {
    display: none;
  }

  nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a {
    color: black;
    text-decoration: none;
  }

  nav div.toc {
    display: none;
  }

  table.ejemplo td, table.indice td {
    display: block;
    width: 100%;
    margin-bottom: 5px;
  }

  pre {
    text-align: left;
    white-space: pre-wrap;
  }
}

/* Pantallas grandes */
@media screen and (min-width: 768px) {
  html {
    margin-left: 12em;
    margin-right: 4em;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 14.5em;
    padding-left: 0.2em;
    font-size: 80%;
    text-align: left;
  }

  nav h2 {
    margin: 0;
    padding: 0;
    font-size: 110%;
    text-align: left;
  }

  nav p {
    margin: 5px 0 0;
    font-size: 350%;
  }

  nav a {
    color: black;
    text-decoration: none;
  }

  nav ul, nav ol {
    margin-top: 0;
    padding-left: 1em;
  }

  nav ul li, nav ol li {
    margin: 0 0 0.1em 0.2em;
  }

  nav ul ul, nav ol ul {
    margin: 0;
    padding-left: 0.5em;
  }

  nav ul ul li, nav ol ul li {
    margin: 0;
  }
}

/* Impresora */
@media print {
  html {
    margin-left: 5px;
    margin-right: 0;
    margin-top: 0;
  }

  nav p {
    display: none;
  }

  nav h2 {
    display: none;
  }

  code {
    font-size: 100% !important;
  }

  pre {
    white-space: pre-wrap !important;
  }

  p.volver-principio {
    display: none;
  }

  tr {
    page-break-inside:avoid;
  }

  .noprint {
    display: none
  }
}

/* CSS específico apuntes XML */

/* Clases para fragmentos de código en texto */

/* Estilo para HTML imitando a Brackets */
.html-eti        { color: #446FBD }
.html-atri       { color: #6D8600; }
.html-atri-valor { color: #E88501; }

/* Estilo para CSS imitando a Brackets */
.css-sele        { color: #446FBD; }
.css-prop        { color: #8757AD; }
.css-valor       { color: #E88501; }
.css-unidad      { color: #E88501;}

/* Estilo para XML imitando a XML Copy Editor*/
.xml-tag  { color: #0000FF; } /* any tag from "<" till ">"              */
.xml-attr { color: #FC0204; } /* tag's attribute with or without value  */
.xml-pi   { color: #0000FF; }
.xml-comment { color: #808080; } /* comment                                */
.xsl-i    { font-family: monospace; font-size: 120%; line-height: 120%; color: #0000FF; }
.xsl-atri { font-family: monospace; font-size: 120%; line-height: 120%; color: #FC0204; }

